<footer>
    <div class="cidademain">
        <div class="maincidade">
        <div class="cidade"></div>
        <div class="cidade2"></div>
        </div>
                      
        <div class="cidadeinfo">
        <div class="cidadeinfo2">
        <p>© 2022 RAWART todos os direitos reservados.</p>
        </div>
                      
        <div class="cidadeinfo2 cidadeinforight">
        <p>Tema <a href="https://rawart.com.br/" target="_blank">RAWART</a></p>
        </div>
        </div>
          
        </div>
        <div class="foot">
            <p>Desarrollado por Jorge Vera Zambrano, estudiante de la carrera de Ingenieria de Software en la universidad de guayaquil.</p>
            <p>Contáctame en:</p>
            <ul>
              <li><a href="https://www.facebook.com/profile.php?id=100062906347266">Facebook</a></li>
              <li><a href="https://www.linkedin.com/in/jorge-dima-vera-zambrano-9b7a0b1b5/">LinkedIn</a></li>
              <li><a href="https://api.whatsapp.com/send?phone=593962592610">Whatsapp</a></li>
            </ul>
        </div>
  </footer>
  